<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Product List</h2>
        <a href="/admin/add-product"> <button type="button" class="btn btn-primary">Add Product +</button></a>

    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-left">
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Image</th>
                            <th>Update</th>
                            <th >Status</th>
                        </tr>
                    </thead>
                    <tbody>

                       <% for( let i = 0; i < products.length; i++ ) { %>
                    
                            <tr>
                                <td style="vertical-align: middle;" width="17%"><%= products[i].product_name %></td>
                                <td style="vertical-align: middle;" width="12%"><%= products[i].category[0].name  %></td>
                                <td style="vertical-align: middle;" width="12%"><%= products[i].product_price %></td>
                                <td style="vertical-align: middle;" width="12%"><%= products[i].product_quantity %></td>
                                <td style="vertical-align: middle;" width="12%"><%= products[i].product_discount %></td>
                                
                                <td style="vertical-align: middle;" width="10%"><img class="img-thumbnail" width="80" src="/product-images/<%= products[i].image %>" alt="no image avalable"></td>
                               
                                <td style="vertical-align: middle;" width="10%"><a href="/admin/edit-product/<%= products[i]._id %>" class="btn btn-success btn-sm rounded font-sm mt-15">Edit</a></td>
    
                                <% if (products[i].product_status) { %>
                                <td style="vertical-align: middle;" > <button onclick="changeProductStatus('<%= products[i]._id %>')" class="btn btn-sm btn-danger rounded font-sm mt-15">Delete</button> </td>
                                 
                                <% } else {%>
                                    <td style="vertical-align: middle;" > <button onclick="changeProductStatus('<%= products[i]._id %>')" class="btn btn-sm btn-success rounded font-sm mt-15">unBlock</button> </td>
                                
                                <% } %>
    
                            </tr>
                        

                        <% } %>
                        
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="/?page=1">01</a></li>
                <li class="page-item"><a class="page-link" href="/?page=2">02</a></li>
                <li class="page-item"><a class="page-link" href="/?page=3">03</a></li>
                <li class="page-item"><a class="page-link" href="/?page=4">04</a></li>
                <li class="page-item"><a class="page-link" href="/?page=5"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->


<script>
    function changeProductStatus(productId){
        console.log("clicked",productId);
        swal("Are you sure you want to do this?", {
            buttons: ["No!", "Yes!"],
        }).then((res)=>{
            if(res){
                $.ajax({
                    url:"/admin/delete-product/"+productId,
                    type:'get' 
                }).done((res)=>{
                    swal("successful",`${res.message}`,"success").then(()=>{
                        location.reload();
                    })
                }).fail((err)=>{
                    swal("successful",`${res.message}`,"success").then(()=>{
                        location.reload()
                    })
                })
            }
        })
    }
</script>