
        <section class="content-main">
            <div class="content-header">
                <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-white" style="height:150px">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                            <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                                <img src="/admin/assets/imgs/brands/brand-3.jpg" class="center-xy img-fluid" alt="Logo Brand">
                            </div>
                        </div> <!--  col.// -->
                        <div class="col-xl col-lg">
                            <h3><%= user.name %></h3>
                            <p>3891 Ranchview Dr. Richardson, California 62639</p>
                        </div> <!--  col.// -->
                        
                    </div> <!-- card-body.// -->
                    <hr class="my-4">
                    <div class="row g-4">
                        <div class="col-md-12 col-lg-4 col-xl-2">
                            <article class="box">
                                <p class="mb-0 text-muted">Total sales:</p>
                                <h5 class="text-success">238</h5>
                                <p class="mb-0 text-muted">Revenue:</p>
                                <h5 class="text-success mb-0">$2380</h5>
                            </article>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Contacts</h6>
                            <p>
                                Manager: Jerome Bell <br>
                                <template class="__cf_email__" data-cfemail="31585f575e715449505c415d541f525e5c">[email&#160;protected]</template> <br>
                                (229) 555-0109, (808) 555-0111
                            </p>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6>Address</h6>
                            <p>
                                Country: California <br>
                                Address: Ranchview Dr. Richardson <br>
                                Postal code: 62639
                            </p>
                        </div> <!--  col.// -->
                        <div class="col-sm-6 col-xl-4 text-xl-end">
                            <map class="mapbox position-relative d-inline-block">
                                <img src="/admin/assets/imgs/misc/map.jpg" class="rounded2" height="120" alt="map">
                                <span class="map-pin" style="top:50px; left: 100px"></span>
                                <button class="btn btn-sm btn-brand position-absolute bottom-0 end-0 mb-15 mr-15 font-xs"> Large </button>
                            </map>
                        </div> <!--  col.// -->
                    </div> <!--  row.// -->
                </div> <!--  card-body.// -->
            </div> <!--  card.// -->

            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <% if (!userOrderDetails.length) { %>
                         <h1>No Orders Yet</h1>
                        <% } else { %>

                        <table class="table table-hover" id="orderTable">
                            <thead>
                                <tr>
                                    <th>ORDER ID</th>
                                    <th scope="col">DATE</th>
                                    <th scope="col">AMOUNT</th>
                                    <th scope="col">PAYMENT TYPE</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col"> VIEW DETAILS </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < userOrderDetails.length; i++ ) { %>
                                    <tr>
                                        <td><%= userOrderDetails[i]._id %></td>
                                        <td><%= userOrderDetails[i].orderDate %></td>
                                        <td><%= userOrderDetails[i].totalAmount %></td>
                                        <td><%= userOrderDetails[i].paymentMethod %></td>
                                        <td><span class="badge rounded-pill alert-warning"><%= userOrderDetails[i].orderStatus %></span></td>
                                        <td >
                                            <a href="/admin/order-details/<%= userOrderDetails[i]._id %>" class="btn btn-md rounded font-sm">Details</a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <% } %>

                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
        </section> <!-- content-main end// -->
        