<!DOCTYPE html>
<html lang="en">


<!-- molla/index-8.html  22 Nov 2019 09:56:59 GMT -->

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>gadgetPlus</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="gadgetPlus - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="gadgetPlus">
    <meta name="application-name" content="gadgetPlus">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/jquery.countdown.css">
    
    <!-- Template CSS copied From admin main.css-->
    <link href="/user/assets/css/admin-main-copy.css" rel="stylesheet" type="text/css" />
    
    
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <link rel="stylesheet" href="/user/assets/css/skins/skin-demo-8.css">
    <link rel="stylesheet" href="/user/assets/css/demos/demo-8.css">

    <!-- datatable -->
    

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

    <!-- toastify js -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">



    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- iziotoast mesage -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">


    <!-- otp -->
    <link rel="stylesheet" href="../../public/user/assets/css/otp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <style>
       nav a:is(:link ,:active, :visited).active {
            background-color: #ebebeb;
        }
    </style>

   

</head>

<% if (!locals.headerFooter) { %>
    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-bottom sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="/" class="logo">
                                <img src="/user/assets/images/demos/demo-8/logo.png" alt="Molla Logo" width="150"
                                    height="20">
                            </a>
                        </div>
                        <div class="header-center">
                            <nav class="main-nav" style="margin-right: 175px;">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container ">
                                        <a home-a href="/">Home</a>
                                    </li>

                                    <li>

                                        <a class="sf-with-ul">Product</a>
                                        <ul>

                                            <% allCategories.forEach(category=> { %>
                                                <% if (category.status) { %>
                                                    <li><a href="/viewProducts/<%= category._id %>">
                                                            <%= category.name %>
                                                        </a></li>
                                                <% } %>
                                            <% }) %>

                                        </ul>
                                    </li>

                                    <li class="megamenu-container ">
                                        <a href="/about">About</a>
                                    </li>
                                    <li class="megamenu-container ">
                                        <a href="/contact">Contact</a>
                                    </li>

                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div><!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search in..." required>
                                        <span style="z-index: 1; position: absolute;" id="searchResult"></span>
                                    </div><!-- End .header-search-wrapper -->
                                </form>
                            </div><!-- End .header-search -->

                            <a href="/wishlist" class="wishlist-link">
                                <% if (locals.loginStatus) { %>
                                    <i class="icon-heart-o"></i>
                                    <% if (locals.wishListCount) { %>
                                        <span class="wishlist-count" id="wishListCount">
                                            <%= wishListCount %>
                                        </span>
                                        
                                    <% } %>
                                </a>

                                

                                <div class="dropdown cart-dropdown">
                                    <a href="/cart" class="dropdown-toggle" >
                                        <i class="icon-shopping-cart"></i>
                                        <% if (locals.cartCount) { %>

                                            <span id="cart-count" class="cart-count">
                                                <%= cartCount %>
                                            </span>

                                        <% } %>
                                    </a>
                                </div>

                                <div>
                                    <ul class="menu sf-arrows">
                                        <li>
                                            <span class="sf-with-ul">
                                                <%= loginStatus.name %>
                                            </span>
                                            <ul>
                                                <li><a href="/profile">Profile</a></li>
                                                <li><a href="" id="wallet-details" data-toggle="modal" data-target="#walletModal" >Wallet</a></li>
                                                <li><a href="/user-logout">Logout</a></li>
                                            </ul>
                                        </li>
                                    </ul><!-- End .menu -->
                                </div><!-- End .header-left -->

                                <!-- wallet Modal start -->
                              
                                <div class="modal fade" id="walletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    
                                        <div class=" text-center mt-5 mb-5">
                                            <h2 style="text-decoration: underline; ;" class="modal-title" id="exampleModalLabel">Wallet</h2>
                                            <span style="font-size: 17px;" class="modal-title" id="walletAmount">Your Wallet Balance is: </span>
                                        </div>
                                        <div >
                                        <button type="button" class=" btn btn-secondary d-block ml-auto mr-3 mb-3" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!-- wallet Modal end -->

                                <% } else { %>
                                    <a href="/user-login"><i class="fa-solid fa-user-tie"
                                            style="font-size: 25px; color: black; margin-left: 21px; margin-right: 15px; margin-bottom: 10px;"></i></a>
                                    <% } %>

                        </div><!-- End .header-right -->
                    </div><!-- End .container -->
                </div><!-- End .header-bottom -->
            </header><!-- End .header -->

<% } %>



<script>

    let searchElement = document.getElementById('searchInput');
    searchElement.onkeyup = function(){
        let searchWord= searchElement.value;
        loadData(searchWord);
    }

    function loadData(query = ''){
        fetch('/search-prpduct',{
            method:'post',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({payload:query})
        })
        .then(res=> res.json())
        .then((data)=>{
            console.log("res block start");
            let searchResult=data.searchResult;
            console.log(searchResult);

            let html='<ul class="list-group">';
            
            if(searchResult.length>0){
                for (let i = 0; i < searchResult.length; i++) {
                    
                    let regularExpression = new RegExp('(' + query + ')', 'gi');
                    html += `<a href="/search/result/?name=` + query + `" 
                                class="list-group-itemlist-group-item-action">`+`<img style="width: 2rem" 
                                src="`+searchResult[i].image[0].path+`" >`+ searchResult[i].product_name.replace(regularExpression, `<span class="text-primary fw-bold">$1</span>`) + `</a>`;
                    
                }
            }

            html+='</ul>'
            document.getElementById('searchResult').innerHTML = html
                
            console.log("end");

        })
    }
    


    $('#wallet-details').on('click',function(e){
        e.preventDefault()
        // let userId=$('#wallet-details').data('wallet')
        // console.log("userId",userId);
        $.ajax({
            url:"/wallet",
            method:'get',
            // data:userId

        })
        .then((res)=>{
            console.log(res);
            document.getElementById('walletAmount').innerHTML="Your wallet balance is : "+res.walletDetails

            $("#walletModal").modal("show");

        })
    })

 
    // const activePage=window.location.pathname;
    //  // console.log(activePage);
    //  const navLinks= document.querySelectorAll('nav a').forEach(link=>{
    //     // console.log(link.href);

    //     // console.log(".................");
    //     const linkPath = link.href.substring(link.href.indexOf('/', 8));
    //     // console.log(linkPath ==activePage);
    //     // console.log(linkPath);
    //     // console.log(".................");

    //     // if(linkPath ==activePage){
    //     //     link.classList.add('active')
    //     // }
    //     // else 
    //     if(link.href.includes(`${activePage}`)){
    //         console.log(`${activePage}`);
    //         link.classList.add('active')
    //     } 
       
    // })   

</script>