<main class="main">
	<div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->



	<div class="page-content">
		<div class="checkout">
			<div class="container">
				<form id="checkout-form">
					<div class="row">
						<div class="col-lg-9">
							<div class="col-lg-6">
								<div class="card card-dashboard">
									<div class="card-body">
										<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->


										<a type="button" class="btn btn-primary" data-toggle="modal"
											data-target="#AddAddress" data-whatever="@mdo">Add New Address +</a>

										</p>
									</div><!-- End .card-body -->
								</div><!-- End .card-dashboard -->
							</div><!-- End .col-lg-6 -->
							<h3 class="card-title">Billing Details</h3><!-- End .card-title -->
							<h2 class="checkout-title">Select An Address</h2><!-- End .checkout-title -->

							<div class="row">
								<div class="col-lg-9">
									<input type="text" name="userId" value="<%= user._id %>" hidden>

									<% for( let i=0; i < address.length; i++ ) { %>
										<div class="card card-dashboard">
											<div class="card-body">

												<input type="radio" id="address<%= address[i]._id %>"
													name="addressSelected" value="<%= address[i]._id %>">
												<label for="address<%= address[i]._id %>">
													<p>
														<%= address[i].first_name %>
															<%= address[i].last_name %><br>
																<%= address[i].address %><br>
																	<%= address[i].mobile %><br>
																		pin:<%= address[i].pincode %><br>
																			<%= address[i]._id %><br>

																				<a type="button" class="btn btn-primary"
																					data-toggle="modal"
																					data-target="#EditAddress"
																					onclick="getAddress('<%= address[i]._id %>')"
																					data-whatever="@mdo">Edit Address
																				</a>
													</p>
												</label><br>
											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->
										<% } %>
								</div><!-- End .col-lg-6 -->


							</div><!-- End .row -->

						</div><!-- End .col-lg-9 -->
						<aside class="col-lg-3">
							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>

										<% for( let i=0; i < cartItems.length; i++ ) { %>
											<tr>
												<td><a href="#">
														<%= cartItems[i].product.product_name %>
													</a></td>
												<td>
													<%= cartItems[i].product.product_price %>
												</td>
											</tr>
											<% } %>


												<!-- <tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td>$160.00</td>
										</tr> -->
												<!-- End .summary-subtotal -->
												<!-- <tr class="summary-subtotal">
											<td>Discount:</td>
											<td>$160.00</td>
										</tr> -->
												<tr class="summary-total">
													<td>Total:</td>
													<td>
														<%= totalAmount %>
													</td>
												</tr><!-- End .summary-total -->
									</tbody>
								</table><!-- End .table table-summary -->




								<div class="accordion-summary" id="accordion-payment">
									<div class="card">
										<div class="card-header" id="heading-3">
											<h2 class="card-title">
												<input type="radio" id="COD" name="payment" value="COD"> <label
													for="COD">Cash on delivery</label><br>
											</h2>
										</div><!-- End .card-header -->
									</div><!-- End .card -->
									<br>
									<div class="card">
										<div class="card-header" id="heading-4">
											<h2 class="card-title">
												<h2 class="card-title">
													<input type="radio" id="online" name="payment"
														value="onlinePayment"> <label for="online">Online
														Payment</label><br>
												</h2>
											</h2>
										</div><!-- End .card-header -->
									</div><!-- End .card -->

									<!-- <button type="submit">Place Order</button> -->
									<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
										<span class="btn-text">Place Order</span>
										<span class="btn-hover-text">Place Order</span>
									</button>
								</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->




<!-- =======Add address Modal======= -->
<div class="modal fade " id="AddAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ">
				<form class="p-3" id="add-address-form">
					<div class="row ">
						<div class="col-sm-6">
							<label>First Name *</label>
							<input name="fname" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<input name="id" value="<%= loginStatus._id %>" type="text" hidden>

						<div class="col-sm-6">
							<label>Last Name *</label>
							<input name="lname" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="row">
						<div class="col-sm-6">
							<label>Mobile number *</label>
							<input name="mobile" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>Email address *</label>
							<input name="email" type="email" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<label>Address *</label>
					<input name="address" type="text" class="form-control" required>


					<div class="row">
						<div class="col-sm-6">
							<label>Country *</label>
							<input name="country" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>State *</label>
							<input name="state" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->


					<div class="row">
						<div class="col-sm-6">
							<label>City *</label>
							<input name="city" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>Pincode *</label>
							<input name="pincode" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<!-- =======End Add address Modal======= -->

<!-- =======Edit address Modal======= -->
<div class="modal fade " id="EditAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ">
				<form class="p-3" id="edit-address-form">
					<div class="row ">
						<div class="col-sm-6">
							<label>First Name *</label>
							<input name="fname" type="text" class="form-control" id="fname" required>
						</div><!-- End .col-sm-6 -->

						<input name="addressId" id="addressId" type="text" hidden>

						<div class="col-sm-6">
							<label>Last Name *</label>
							<input name="lname" type="text" id="lname" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="row">
						<div class="col-sm-6">
							<label>Mobile number *</label>
							<input name="mobile" id="mobile" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>Email address *</label>
							<input name="email" id="email" type="email" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<label>Address *</label>
					<input name="address" id="address" type="text" class="form-control" required>


					<div class="row">
						<div class="col-sm-6">
							<label>Country *</label>
							<input name="country" id="country" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>State *</label>
							<input name="state" id="state" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->


					<div class="row">
						<div class="col-sm-6">
							<label>City *</label>
							<input name="city" id="city" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>Pincode *</label>
							<input name="pincode" id="pincode" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<!-- =======End Edit address Modal======= -->




<script>

	$(document).ready(function () {
		$('#checkout-form').submit((e) => {
			e.preventDefault();
			// let data=JSON.stringify($('#checkout-form').serialize())
			// console.log($('#checkout-form').serialize().payment);
			// console.log(data.payment);
			// console.log($('#checkout-form').serialize().addressSelected);
			console.log("hello");
			$.ajax({
				url: '/place-order',
				type: 'post',
				data: $('#checkout-form').serialize()
			})
				.done((res) => {
					if (res.error) {
						Toastify({
							text: `${res.message}`,
							duration: 3000,
							newWindow: true,
							close: true,
							gravity: "top", // `top` or `bottom`
							position: "center", // `left`, `center` or `right`
							stopOnFocus: true, // Prevents dismissing of toast on hover
							style: {
								background: "linear-gradient(to right, #00b09b, #96c93d)",
							},
				
						}).showToast();
					} else {

						console.log("payment done");
						location.href = "/order-success"
					}
				})
				.fail((err) => {
					console.log("Error occured");
					console.log(err);
				})
		})
	})
</script>

<script>

	$(document).ready(function () {
		$('#add-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/add-address',
				type: 'post',
				data: $('#add-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "New Address added.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
						// setTimeout(()=>{
						// 	Toastify({
						// 		text: "Address added ",
						// 		duration: 3000,
						// 		newWindow: true,
						// 		close: true,
						// 		gravity: "top", // `top` or `bottom`
						// 		position: "center", // `left`, `center` or `right`
						// 		stopOnFocus: true, // Prevents dismissing of toast on hover
						// 		style: {
						// 			background: "yellow",
						// 		},
						// 		}).showToast();
						// },1000)
						// location.href = "#tab-addAddress"
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})


	function getAddress(addressId) {
		console.log(addressId);
		$.ajax({
			url: '/edit-address/' + addressId,
			type: 'get',

		}).done((res) => {
			console.log(res.address);
			document.getElementById('addressId').value = res.address._id;
			document.getElementById('fname').value = res.address.first_name;
			document.getElementById('lname').value = res.address.last_name;
			document.getElementById('mobile').value = res.address.mobile;
			document.getElementById('email').value = res.address.email_id;
			document.getElementById('address').value = res.address.address;
			document.getElementById('country').value = res.address.country;
			document.getElementById('state').value = res.address.state;
			document.getElementById('city').value = res.address.city;
			document.getElementById('pincode').value = res.address.pincode;
		})
			.fail((error) => {
				console.log(error);
			})
	}


	$(document).ready(function () {
		$('#edit-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/edit-address',
				type: 'post',
				data: $('#edit-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "Address Updated.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})

</script>