<style>
	.card-body {
		position: relative;
	}

	.address-label {
		display: flex;
		align-items: flex-start;
	}

	.radio-icon {
		margin-top: 4px;
		margin-right: 10px;
	}

	.delete-icon {
		position: absolute;
		top: 10px;
		right: 30px;
	}
</style>




<main class="main">
	<div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->



	<div class="page-content">
		<div class="checkout">
			<div class="container">
				<form id="checkout-form">
					<div class="row">
						<div class="col-lg-8">
							<div class="col-lg-6">
								<div class="card card-dashboard">
									<div class="card-body">
										<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->


										<a type="button" class="btn btn-primary" data-toggle="modal"
											data-target="#AddAddress" data-whatever="@mdo">Add New Address +</a>

										</p>
									</div><!-- End .card-body -->
								</div><!-- End .card-dashboard -->
							</div><!-- End .col-lg-6 -->
							<h3 class="card-title mt-2 mb-2 ">Select an address</h3><!-- End .card-title -->

							<div class="row">
								<div class="col-lg-9">
									<input type="text" name="userId" value="<%= user._id %>" hidden>

									<% for( let i=0; i < address.length; i++ ) { %>
										<div class="card card-dashboard" id="card-<%= address[i]._id %>">
											<div class="card-body">
												<label class="address-label" for="address<%= address[i]._id %>">
													<div class="radio-icon">
														<input type="radio" id="address<%= address[i]._id %>"
															name="addressSelected" value="<%= address[i]._id %>">
													</div>
													<div class="address-info">
														<p>
															<%= address[i].first_name %>
																<%= address[i].last_name %><br>
																	<%= address[i].address %><br>
																		<%= address[i].mobile %><br>
																			pin: <%= address[i].pincode %><br>
																				<%= address[i]._id %><br>
																					<a type="button"
																						class="btn btn-primary"
																						data-toggle="modal"
																						data-target="#EditAddress"
																						onclick="getAddress('<%= address[i]._id %>')"
																						data-whatever="@mdo">Edit
																						Address</a>
														</p>
													</div>
												</label>
												<a class="delete-icon" style="color: rgb(10, 8, 8);"
													onclick="deleteAddress('<%= address[i]._id %>')">
													<i class="fas fa-trash"></i>
												</a>
											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->



										<% } %>
								</div><!-- End .col-lg-6 -->


							</div><!-- End .row -->

						</div><!-- End .col-lg-8 -->

						<aside class="col-lg-4">
							<div class=" d-flex">
								<input type="text" name="couponCode" id="couponCode" style="width: 15%x; height: 45px;"
									class="form-control" placeholder="coupon code">

								<a style="width: 50px; height: 45px;" onclick="applyCoupon('<%= totalAmount %>')"
									class="btn btn-outline-primary ">
									<i class="icon-long-arrow-right text-dark"></i> </a>
							</div>
							<span id="couponApplySuccess" class="text-success"></span>
							<span id="couponApplyFail" class="text-danger"></span>

							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>

										<% for( let i=0; i < cartItems.length; i++ ) { %>
											<tr>
												<td><a href="#">
														<%= cartItems[i].product.product_name %> x <%=
																cartItems[i].quantity %>
													</a></td>
												<td>
													<%= cartItems[i].product.product_price %>
												</td>
											</tr>
											<% } %>


												<tr class="summary-subtotal">
													<td>Subtotal:</td>
													<td>
														<%= totalAmount %>
													</td>
												</tr>
												<!-- End .summary-subtotal -->
												<tr class="summary-subtotal">
													<td>Discount:</td>
													<td id="discount" class="text-success">0.00</td>
												</tr>
												<tr class="summary-total">
													<td>Total:</td>
													<td id="totalAmount">
														<%= totalAmount %>
													</td>
												</tr><!-- End .summary-total -->
									</tbody>
								</table><!-- End .table table-summary -->

								<br>
								<p>wallet balance: <%= walletBalance %>
								</p>
								<div style="background-color: #e4e4e4; padding: 15px; border-radius: 10px;">
									<div class="accordion-summary" id="accordion-payment">
										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<h2 class="card-title">
														<input type="radio" id="wallet" name="payment" value="wallet">
														<label for="wallet">Wallet</label><br>
													</h2>
												</h2>
											</div><!-- End .card-header -->
										</div><!-- End .card -->
										<br>
										<div class="card">
											<div class="card-header" id="heading-3">
												<h2 class="card-title">
													<input type="radio" id="COD" name="payment" value="COD"> <label
														for="COD">Cash on delivery</label><br>
												</h2>
											</div><!-- End .card-header -->
										</div><!-- End .card -->
										<br>
										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<h2 class="card-title">
														<input type="radio" id="razorpay" name="payment"
															value="razorpay"> <label for="razorpay">Razorpay</label><br>
													</h2>
												</h2>
											</div><!-- End .card-header -->
										</div><!-- End .card -->

										<br>
										<div class="card">
											<div class="card-header" id="heading-4">
												<h2 class="card-title">
													<h2 class="card-title">
														<input type="radio" id="paypal" name="payment"
															value="paypal"> <label for="paypal">Paypal</label><br>
													</h2>
												</h2>
											</div><!-- End .card-header -->
										</div><!-- End .card -->
										<!-- <button type="submit">Place Order</button> -->
										<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
											<span class="btn-text">Place Order</span>
											<span class="btn-hover-text">Place Order</span>
										</button>
									</div><!-- End .summary -->
								</div>
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
					<div>
						<input type="hidden" name="couponDiscount" id="couponDiscount">
					</div>
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<!-- =======Add address Modal======= -->
<div class="modal fade " id="AddAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Add address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ">
				<form class="p-3" id="add-address-form">
					<div class="row ">
						<div class="col-sm-6">
							<label>First Name *</label>
							<input name="fname" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<input name="id" value="<%= loginStatus._id %>" type="text" hidden>

						<div class="col-sm-6">
							<label>Last Name *</label>
							<input name="lname" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="row">
						<div class="col-sm-6">
							<label>Mobile number *</label>
							<input name="mobile" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>Email address *</label>
							<input name="email" type="email" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<label>Address *</label>
					<input name="address" type="text" class="form-control" required>


					<div class="row">
						<div class="col-sm-6">
							<label>Country *</label>
							<input name="country" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>State *</label>
							<input name="state" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->


					<div class="row">
						<div class="col-sm-6">
							<label>City *</label>
							<input name="city" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>Pincode *</label>
							<input name="pincode" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<!-- =======End Add address Modal======= -->

<!-- =======Edit address Modal======= -->
<div class="modal fade " id="EditAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body ">
				<form class="p-3" id="edit-address-form">
					<div class="row ">
						<div class="col-sm-6">
							<label>First Name *</label>
							<input name="fname" type="text" class="form-control" id="fname" required>
						</div><!-- End .col-sm-6 -->

						<input name="addressId" id="addressId" type="text" hidden>

						<div class="col-sm-6">
							<label>Last Name *</label>
							<input name="lname" type="text" id="lname" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="row">
						<div class="col-sm-6">
							<label>Mobile number *</label>
							<input name="mobile" id="mobile" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">
							<label>Email address *</label>
							<input name="email" id="email" type="email" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<label>Address *</label>
					<input name="address" id="address" type="text" class="form-control" required>


					<div class="row">
						<div class="col-sm-6">
							<label>Country *</label>
							<input name="country" id="country" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>State *</label>
							<input name="state" id="state" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->


					<div class="row">
						<div class="col-sm-6">
							<label>City *</label>
							<input name="city" id="city" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->

						<div class="col-sm-6">

							<label>Pincode *</label>
							<input name="pincode" id="pincode" type="text" class="form-control" required>
						</div><!-- End .col-sm-6 -->
					</div><!-- End .row -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Update</button>
					</div>

				</form>
			</div>

		</div>
	</div>
</div>
<!-- =======End Edit address Modal======= -->




<script>

	$(document).ready(function () {
		$('#checkout-form').submit((e) => {
			e.preventDefault();
			console.log("hello");
			$.ajax({
				url: '/place-order',
				type: 'post',
				data: $('#checkout-form').serialize()
			})
				.done((response) => {
					if (response.error) {
						Toastify({
							text: `${response.message}`,
							duration: 3000,
							newWindow: true,
							close: true,
							gravity: "top", // `top` or `bottom`
							position: "center", // `left`, `center` or `right`
							stopOnFocus: true, // Prevents dismissing of toast on hover
							style: {
								background: "linear-gradient(to right, #00b09b, #96c93d)",
							},

						}).showToast();
					} else {
						switch (response.paymentMethod) {
							case 'COD':
								console.log("payment done");
								location.href = "/order-success"
								break;

							case 'razorpay':
								console.log("razorpay");
								paymentMethodrazorpayPayment(response);
								break;
							case 'paypal':
								console.log("paypal");
								console.log("paypal done");
								// paymentMethodpaypalpayPayment(response);
								location.href = response.paypalOrderDetails
								break;
							case 'wallet':
								console.log("wallet");
								location.href = "/order-success"
								break;

						}

					}
				})
				.fail((error) => {
					console.log("Error occured");
					console.log(error);
				})
		})
	})


	function paymentMethodrazorpayPayment(orderinfo) {
		console.log("inside ejs razorpayPayment function");
		const options = {

			"key": `${orderinfo.razorpaykeyId}`, // Enter the Key ID generated from the Dashboard
			"amount": orderinfo.razorpayOrderDetails.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "gadgetPlus",  //your business name
			"description": "Test Transaction",
			"image": "/user/assets/images/logo.png",
			"order_id": `${orderinfo.razorpayOrderDetails.id}`, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				// alert(response.razorpay_payment_id);
				// alert(response.razorpay_order_id);
				// alert(response.razorpay_signature);
				console.log(response.razorpay_payment_id);
				console.log(response.razorpay_order_id);
				console.log("response.razorpay_signature", response.razorpay_signature);

				verifyPaymentSignature(response, orderinfo.orderDetails, orderinfo.razorpayOrderDetails);

			},
			"prefill": {
				"name": "abin varghese",
				"email": "abinvarghese@gmail.com",
				"contact": "8934327744"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};

		console.log("new Razorpay(options)");
		const rzp1 = new Razorpay(options);
		rzp1.open();

	}


	function verifyPaymentSignature(payment, orderDetails, razorpayOrderDetails) {
		console.log("function verifyPaymentSignature(payment,orderDetails,razorpayOrderDetails)");
		$.ajax({
			url: '/verify-payment',
			method: 'post',
			data: {
				payment,
				orderDetails,
				razorpayOrderDetails
			},
			success: (response) => {
				if (response.status) {
					swal({
						title: "Good job!",
						text: "Payment successfull!",
						icon: "success",
						button: "Ok!",
					})
						.then(() => {
							location.href = '/order-success'
						})
				} else {
					swal({
						title: "sorry!",
						text: "Payment failed",
						icon: "error",
						button: "Ok!",
					})
						.then(() => {
							location.href = '/cart'
						})
				}
			}


		})
	}
</script>

<script>

	$(document).ready(function () {

		$('#add-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/add-address',
				type: 'post',
				data: $('#add-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "New Address added.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
						// setTimeout(()=>{
						// 	Toastify({
						// 		text: "Address added ",
						// 		duration: 3000,
						// 		newWindow: true,
						// 		close: true,
						// 		gravity: "top", // `top` or `bottom`
						// 		position: "center", // `left`, `center` or `right`
						// 		stopOnFocus: true, // Prevents dismissing of toast on hover
						// 		style: {
						// 			background: "yellow",
						// 		},
						// 		}).showToast();
						// },1000)
						// location.href = "#tab-addAddress"
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})


	function getAddress(addressId) {
		console.log(addressId);
		$.ajax({
			url: '/edit-address/' + addressId,
			type: 'get',

		}).done((res) => {
			console.log(res.address);
			document.getElementById('addressId').value = res.address._id;
			document.getElementById('fname').value = res.address.first_name;
			document.getElementById('lname').value = res.address.last_name;
			document.getElementById('mobile').value = res.address.mobile;
			document.getElementById('email').value = res.address.email_id;
			document.getElementById('address').value = res.address.address;
			document.getElementById('country').value = res.address.country;
			document.getElementById('state').value = res.address.state;
			document.getElementById('city').value = res.address.city;
			document.getElementById('pincode').value = res.address.pincode;
		})
			.fail((error) => {
				console.log(error);
			})
	}


	$(document).ready(function () {
		$('#edit-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/edit-address',
				type: 'post',
				data: $('#edit-address-form').serialize()
			})
				.done((res) => {
					iziToast.success({
						title: 'OK',
						message: 'Successfully inserted record!',
						position: 'topRight',
					});
					swal({
						title: "Success",
						text: "Address Updated.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})

	function deleteAddress(addressId) {

		swal("are You sure", {
			buttons: ["No", "yes"]
		})
			.then((res) => {
				if (res) {
					$.ajax({
						url: '/delete-address/' + addressId,
						method: "post",
					})
						.then((response) => {
							if (response) {
								iziToast.success({
									title: 'OK',
									message: `${response.message}`,
									position: 'topRight',
									onOpening: function (instance, toast) {
										// Modify the top property to adjust the message position
										toast.style.top = '80px'; // Adjust the value as needed to move the message down
									}
								});
							}

							$(`#card-${addressId}`).remove()
						})
						.fail((error) => {
							console.log(error);

						})
				}
			})
	}

	function applyCoupon(totalAmount) {
		const couponCode = document.getElementById('couponCode').value;
		
		console.log(couponCode);

		$.ajax({
			url: '/apply-coupon',
			type: 'post',
			data: {
				couponCode: couponCode,
			}
		})
			.done((res) => {
				if (res.status) {
					console.log("hello");
					console.log(res);
					document.getElementById('couponApplyFail').classList.add('d-none')
					document.getElementById('couponApplySuccess').classList.remove('d-none')
					document.getElementById('couponApplySuccess').innerHTML = res.message
					document.getElementById('discount').innerHTML = -res.discount
					console.log(";;;;;;;;;;;;;;;;;;;;;;;");
					console.log(res);
					console.log(res.discount);
					console.log(";;;;;;;;;;;;;;;;;;;;;;;");

					document.getElementById('couponDiscount').value = res.discount
					document.getElementById('totalAmount').innerHTML = res.cart.totalAmount
				} else {
					console.log(res);
					document.getElementById('couponApplySuccess').classList.add('d-none')
					document.getElementById('couponApplyFail').classList.remove('d-none')
					document.getElementById('couponApplyFail').innerHTML = res.message


				}
			})
	}

</script>