<main class="main">

	<div class="page-content">
		<div class="dashboard">
			<div class="container">
				<div class="row mt-3">
					<aside class="col-md-4 col-lg-3" style="background-color: #fafafa">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
								class="rounded-circle p-1 bg-primary" width="110" style=" margin-top: 20px;">
							<div class="mt-3">
								<h4>
									<%= loginStatus.name %>

								</h4>
							</div>
						</div>
						<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist ">
							<li class="nav-item">
								<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
									href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
									aria-selected="true">Personal informations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-address"
									role="tab" aria-controls="tab-orders" aria-selected="false">Manage Address</a>
							</li>
							<!-- <li class="nav-item">
								<a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
									role="tab" aria-controls="tab-downloads" aria-selected="false">My Orders </a>
							</li> -->
							<li class="nav-item">
								<a class="nav-link" href="/orders" aria-selected="false">My Orders </a>
							</li>
						</ul>
					</aside><!-- End .col-lg-3 -->

					<div class="col-md-8 col-lg-9">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
								aria-labelledby="tab-dashboard-link">
								<div class="card mb-4" style=" border: 1px solid;">
									<div class="card-body text-center">
										<div class="row">
											<div class="col-sm-3">
												<p class="mb-0">Full Name</p>
											</div>
											<div class="col-sm-9">
												<p class="text-muted mb-0">
													<%= loginStatus.name %>
												</p>
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<p class="mb-0">Email</p>
											</div>
											<div class="col-sm-9">
												<p class="text-muted mb-0">
													<%= loginStatus.email %>
												</p>
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<p class="mb-0">Phone</p>
											</div>
											<div class="col-sm-9">
												<p class="text-muted mb-0">
													<%= loginStatus.phone %>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div><!-- .End .tab-pane -->

							<div class="tab-pane fade" id="tab-orders" role="tabpanel"
								aria-labelledby="tab-orders-link">
								<p>No order has been made yet.</p>
								<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
										class="icon-long-arrow-right"></i></a>
							</div><!-- .End .tab-pane -->

							<div class="tab-pane fade" id="tab-downloads" role="tabpanel"
								aria-labelledby="tab-downloads-link">
								<p>No downloads available yet.</p>
								<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
										class="icon-long-arrow-right"></i></a>
							</div><!-- .End .tab-pane -->

							<!-- show address -->

							<div class="tab-pane fade" id="tab-address" role="tabpanel"
								aria-labelledby="tab-address-link">
								<!-- <p>The following addresses will be used on the checkout page by default.</p> -->
								<!-- <div class="text-right ">
									<a class="btn btn-primary mb-2 nav-link " id="tab-orders-link" data-toggle="tab"
										href="#tab-addAddress" role="tab" aria-controls="tab-orders"
										aria-selected="false">Add Address</a>
								</div> -->

				

<!-- =======Add address Modal======= -->
								<div class="modal fade " id="AddAddress" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Add address</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body ">
												<form class="p-3" id="add-address-form">
													<div class="row ">
														<div class="col-sm-6">
															<label>First Name *</label>
															<input name="fname" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->

														<input name="id" value="<%= loginStatus._id %>" type="text" hidden>

														<div class="col-sm-6">
															<label>Last Name *</label>
															<input name="lname" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->
													</div><!-- End .row -->
													<div class="row">
														<div class="col-sm-6">
															<label>Mobile number *</label>
															<input name="mobile" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->

														<div class="col-sm-6">
															<label>Email address *</label>
															<input name="email" type="email" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->
													</div><!-- End .row -->
													<label>Address *</label>
													<input name="address" type="text" class="form-control" required>


													<div class="row">
														<div class="col-sm-6">
															<label>Country *</label>
															<input name="country" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->

														<div class="col-sm-6">

															<label>State *</label>
															<input name="state" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->
													</div><!-- End .row -->


													<div class="row">
														<div class="col-sm-6">
															<label>City *</label>
															<input name="city" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->

														<div class="col-sm-6">

															<label>Pincode *</label>
															<input name="pincode" type="text" class="form-control"
																required>
														</div><!-- End .col-sm-6 -->
													</div><!-- End .row -->
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-dismiss="modal">Close</button>
														<button type="submit" class="btn btn-primary">Submit</button>
													</div>

												</form>
											</div>
											
										</div>
									</div>
								</div>
<!-- =======End Add address Modal======= -->

<!-- =======Edit address Modal======= -->
<div class="modal fade " id="EditAddress" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Edit Address</h5>
			<button type="button" class="close" data-dismiss="modal"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body ">
			<form class="p-3" id="edit-address-form">
				<div class="row ">
					<div class="col-sm-6">
						<label>First Name *</label>
						<input name="fname" type="text" class="form-control" id="fname" required>
					</div><!-- End .col-sm-6 -->

					<input name="addressId" id="addressId"  type="text" hidden>

					<div class="col-sm-6">
						<label>Last Name *</label>
						<input name="lname" type="text" id="lname" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->
				</div><!-- End .row -->
				<div class="row">
					<div class="col-sm-6">
						<label>Mobile number *</label>
						<input name="mobile" id="mobile" type="text" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->

					<div class="col-sm-6">
						<label>Email address *</label>
						<input name="email" id="email" type="email" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->
				</div><!-- End .row -->
				<label>Address *</label>
				<input name="address" id="address" type="text" class="form-control" required>


				<div class="row">
					<div class="col-sm-6">
						<label>Country *</label>
						<input name="country" id="country" type="text" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->

					<div class="col-sm-6">

						<label>State *</label>
						<input name="state" id="state" type="text" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->
				</div><!-- End .row -->


				<div class="row">
					<div class="col-sm-6">
						<label>City *</label>
						<input name="city" id="city" type="text" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->

					<div class="col-sm-6">

						<label>Pincode *</label>
						<input name="pincode" id="pincode" type="text" class="form-control"
							required>
					</div><!-- End .col-sm-6 -->
				</div><!-- End .row -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Update</button>
				</div>

			</form>
		</div>
		
	</div>
</div>
</div>
<!-- =======End Edit address Modal======= -->


								<div class="row">
									<div class="col-lg-6">
										<% for( let i=0; i < addresses.length; i++ ) { %>
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

													<p>
														<%= addresses[i].first_name %>
														<%= addresses[i].last_name %><br>
														<%= addresses[i].email_id %><br>
														<%= addresses[i].mobile %><br>
														<%= addresses[i].address %><br>

														<%= addresses[i].city %><br>
														<%= addresses[i].state %><br>
														<%= addresses[i].country %><br>
														<%= addresses[i].pincode %><br>

														<a type="button" class="btn btn-primary" data-toggle="modal"
													data-target="#EditAddress" onclick="getAddress('<%= addresses[i]._id %>')" data-whatever="@mdo">Edit Address +</a>
													</p>
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
											<% } %>
									</div><!-- End .col-lg-6 -->

									<div class="col-lg-6">
										<div class="card card-dashboard">
											<div class="card-body">
												<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->


												<a type="button" class="btn btn-primary" data-toggle="modal"
													data-target="#AddAddress" data-whatever="@mdo">Add New Address +</a>

												</p>
											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->
									</div><!-- End .col-lg-6 -->
								</div><!-- End .row -->
							</div><!-- .End .tab-pane -->

							<!--End show address -->


							<!-- add address -->

							<div class="tab-pane fade" id="tab-addAddress" role="tabpanel"
								aria-labelledby="tab-account-link">
								My orders are
							</div><!-- .End .tab-pane -->
						</div>
					</div><!-- End .col-lg-9 -->
				</div><!-- End .row -->
			</div><!-- End .container -->


			<!--End add address -->


			

		</div><!-- End .dashboard -->
	</div><!-- End .page-content -->
</main><!-- End .main -->


<script>

	$(document).ready(function () {
		$('#add-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/add-address',
				type: 'post',
				data: $('#add-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "New Address added.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
						// setTimeout(()=>{
						// 	Toastify({
						// 		text: "Address added ",
						// 		duration: 3000,
						// 		newWindow: true,
						// 		close: true,
						// 		gravity: "top", // `top` or `bottom`
						// 		position: "center", // `left`, `center` or `right`
						// 		stopOnFocus: true, // Prevents dismissing of toast on hover
						// 		style: {
						// 			background: "yellow",
						// 		},
						// 		}).showToast();
						// },1000)
						// location.href = "#tab-addAddress"
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})


	function getAddress(addressId){
		console.log(addressId);
		$.ajax({
			url:'/edit-address/'+addressId,
			type:'get',

		}).done((res)=>{
			console.log(res.address);
			document.getElementById('addressId').value=res.address._id;
			document.getElementById('fname').value=res.address.first_name;
			document.getElementById('lname').value=res.address.last_name;
			document.getElementById('mobile').value=res.address.mobile;
			document.getElementById('email').value=res.address.email_id;
			document.getElementById('address').value=res.address.address;
			document.getElementById('country').value=res.address.country;
			document.getElementById('state').value=res.address.state;
			document.getElementById('city').value=res.address.city;
			document.getElementById('pincode').value=res.address.pincode;
		})
		.fail((error)=>{
			console.log(error);
		})
	}


	$(document).ready(function () {
		$('#edit-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/edit-address',
				type: 'post',
				data: $('#edit-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "Address Updated.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
					})
				})
				.fail((err) => {
					console.log(err);
				})
		})
	})

</script>