<main class="main">

	<!-- <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol> -->
	<!-- </div>End .container -->
	<!-- </nav>End .breadcrumb-nav -->

	<div class="page-content">
		<div class="dashboard">
			<div class="container">
				<div class="row mt-3">
					<aside class="col-md-4 col-lg-3" style="background-color: rgb(32, 165, 214);">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
								class="rounded-circle p-1 bg-primary" width="110" style=" margin-top: 20px;">
							<div class="mt-3">
								<h4>
									<%= loginStatus.name %>
								</h4>
							</div>
						</div>
						<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist ">
							<li class="nav-item">
								<a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
									href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
									aria-selected="true">Personal informations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-address"
									role="tab" aria-controls="tab-orders" aria-selected="false">Manage Address</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
									role="tab" aria-controls="tab-downloads" aria-selected="false">My Orders </a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="#">Change Password</a>
							</li>
						</ul>
					</aside><!-- End .col-lg-3 -->

					<div class="col-md-8 col-lg-9">
						<div class="tab-content">
							<div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
								aria-labelledby="tab-dashboard-link">
								<p>Hello <span class="font-weight-normal text-dark">User</span> (not <span
										class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
									<br>
									From your account dashboard you can view your <a href="#tab-orders"
										class="tab-trigger-link link-underline">recent orders</a>, manage your <a
										href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>,
									and <a href="#tab-account" class="tab-trigger-link">edit your password and account
										details</a>.
								</p>
							</div><!-- .End .tab-pane -->

							<div class="tab-pane fade" id="tab-orders" role="tabpanel"
								aria-labelledby="tab-orders-link">
								<p>No order has been made yet.</p>
								<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
										class="icon-long-arrow-right"></i></a>
							</div><!-- .End .tab-pane -->

							<div class="tab-pane fade" id="tab-downloads" role="tabpanel"
								aria-labelledby="tab-downloads-link">
								<p>No downloads available yet.</p>
								<a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
										class="icon-long-arrow-right"></i></a>
							</div><!-- .End .tab-pane -->

							<!-- show address -->

							<div class="tab-pane fade" id="tab-address" role="tabpanel"
								aria-labelledby="tab-address-link">
								<p>The following addresses will be used on the checkout page by default.</p>
								<div class="text-right ">
									<a class="btn btn-primary mb-2 nav-link " id="tab-orders-link" data-toggle="tab"
										href="#tab-addAddress" role="tab" aria-controls="tab-orders"
										aria-selected="false">Add Address</a>
								</div>
								<div class="row">
									<div class="col-lg-6">
										<% for( let i = 0; i < addresses.length; i++ ) { %>
											<div class="card card-dashboard">
												<div class="card-body">
													<h3 class="card-title">Billing Address</h3><!-- End .card-title -->
	
													<p><%= addresses[i].first_name %> <%= addresses[i].last_name %><br>
														<%= addresses[i].email_id %><br>
														<%= addresses[i].mobile %><br>
														<%= addresses[i].address %><br>
														
														<%= addresses[i].city %><br>
														<%= addresses[i].state %><br>
														<%= addresses[i].country %><br>
														<%= addresses[i].pincode %><br>

														<a href="#">Edit <i class="icon-edit"></i></a>
													</p>
												</div><!-- End .card-body -->
											</div><!-- End .card-dashboard -->
										<% } %>
									</div><!-- End .col-lg-6 -->

									<div class="col-lg-6">
										<div class="card card-dashboard">
											<div class="card-body">
												<h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

												<!-- <p>You have not set up this type of address yet.<br>
													<a data-bs-toggle="modal" data-bs-target="#exampleModal1"
															data-bs-whatever="@getbootstrap">Edit 
															<i class="icon-edit"></i></a> -->

													<a href="#exampleModal1">Edit <i class="icon-edit"></i></a>
												</p>
											</div><!-- End .card-body -->
										</div><!-- End .card-dashboard -->
									</div><!-- End .col-lg-6 -->
								</div><!-- End .row -->
							</div><!-- .End .tab-pane -->

							<!--End show address -->


							<!-- add address -->

							<div class="tab-pane fade" id="tab-addAddress" role="tabpanel"
								aria-labelledby="tab-account-link">
								<form action="#" id="add-address-form"
									style="background-color: aliceblue; padding: 12px;">
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											<input name="fname" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<input name="id" value="<%= loginStatus._id %>" type="text" hidden>

										<div class="col-sm-6">
											<label>Last Name *</label>
											<input name="lname" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->

									<div class="row">
										<div class="col-sm-6">
											<label>Mobile number *</label>
											<input name="mobile" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">
											<label>Email address *</label>
											<input name="email" type="email" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->


									<label>Address *</label>
									<input name="address" type="text" class="form-control" required>


									<div class="row">
										<div class="col-sm-6">
											<label>Country *</label>
											<input name="country" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">

											<label>State *</label>
											<input name="state" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->


									<div class="row">
										<div class="col-sm-6">
											<label>City *</label>
											<input name="city" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">

											<label>Pincode *</label>
											<input name="pincode" type="text" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->

									<button type="submit" class="btn btn-outline-primary-2">
										<span>SAVE</span>
										<i class="icon-long-arrow-right"></i>
									</button>
								</form>
							</div><!-- .End .tab-pane -->
						</div>
					</div><!-- End .col-lg-9 -->
				</div><!-- End .row -->
			</div><!-- End .container -->


			<!--End add address -->


			<!-- Modal Edit address-->


			<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add Coupon</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<form action="#" id="add-address-form" style="background-color: aliceblue; padding: 12px;">
								<div class="row">
									<div class="col-sm-6">
										<label>First Name *</label>
										<input name="fname" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<input name="id" value="<%= loginStatus._id %>" type="text" hidden>

									<div class="col-sm-6">
										<label>Last Name *</label>
										<input name="lname" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<div class="row">
									<div class="col-sm-6">
										<label>Mobile number *</label>
										<input name="mobile" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">
										<label>Email address *</label>
										<input name="email" type="email" class="form-control" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->


								<label>Address *</label>
								<input name="address" type="text" class="form-control" required>


								<div class="row">
									<div class="col-sm-6">
										<label>Country *</label>
										<input name="country" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">

										<label>State *</label>
										<input name="state" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->


								<div class="row">
									<div class="col-sm-6">
										<label>City *</label>
										<input name="city" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->

									<div class="col-sm-6">

										<label>Pincode *</label>
										<input name="pincode" type="text" class="form-control" required>
									</div><!-- End .col-sm-6 -->
								</div><!-- End .row -->

								<button type="submit" class="btn btn-outline-primary-2">
									<span>SAVE</span>
									<i class="icon-long-arrow-right"></i>
								</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Create Coupon</button>
						</div>
					</div>
				</div>
			</div>

			<!--End Modal Edit address-->



		</div><!-- End .dashboard -->
	</div><!-- End .page-content -->
</main><!-- End .main -->


<script>

	$(document).ready(function () {
		$('#add-address-form').submit((e) => {
			e.preventDefault();
			$.ajax({
				url: '/add-address',
				type: 'post',
				data: $('#add-address-form').serialize()
			})
				.done((res) => {
					swal({
						title: "Success",
						text: "New Address added.",
						icon: "success",
						button: "OK",
					}).then(() => {
						console.log(res.message);
						location.reload()
						// location.href = "#tab-addAddress"
					})

				})
				.fail((err) => {
					console.log(err);
				})
		})
	})
</script>