<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>


<style>
	.product-image {
	 width: 100%;
	 max-height: 250px; /* Adjust this height as needed */
	 object-fit: contain; /* Ensures the image covers the entire space */
 }

 .product-image-container {
	 position: relative;
	 width: 100%;
	 height: 250px; /* Adjust this height as needed */
	 overflow: hidden;
	 object-fit: contain; /
 }

 .product-image {
	 display: block;
	 width: 100%;
	 height: 100%;
	 object-fit: contain;
	 /* transition: opacity 0.3s ease-in-out; */
 }

 .product-image-hover {
	 position: absolute;
	 top: 0;
	 left: 0;
	 display: none;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 object-fit: contain; 
	 /* transition: opacity 0.3s ease-in-out; */
 }

 .product:hover .product-image {
	 opacity: 0; /* Hide the main image on hover */
 }

 .product:hover .product-image-hover {
	 display: block; /* Show the hover image on hover */
	 opacity: 1;
 }

</style>




<main class="main">

	<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">


					<div class="products mb-3">
						<div class="row" id="products-row">

							<% for( let i=0; i < product.length; i++ ) { %>

								<% if (product[i].product_status ) { %>
									<!-- product[i].product_status && product[i].category[0].name =='phone' -->

									<div class="col-6 col-md-4 col-lg-4 mb-2 ">
										<div class="product product-7 ">
											<figure class="product-media">
												<a href="/quick-view/<%= product[i].slug %>">
													<img src="/product-images/<%= product[i].image[0].filename %>"
														alt="Product image" class="product-image">
													<img src="/product-images/<%= product[i].image[1].filename %>"
														alt="Product image" class="product-image-hover">
												</a>



												<div class="product-action-vertical">
													<% if (!product[i].isInWishList) { %>
														<% if (loginStatus) { %>
															<a href="#"
																class="btn-product-icon btn-wishlist btn-expandable add-to-Wishlist"
																data-value="<%= product[i]._id%>"
																title="Add to wishlist"><span>add to wishlist</span>
																<% } else {%>
																	<a href="/user-login"
																		class="btn-product-icon btn-wishlist btn-expandable"
																		title="Add to wishlist"><span>add to
																			wishlist</span>
																		<% } %>
																	</a>
																	<% } else {%>
																		<a href="/wishlist"
																			class="btn-product-icon btn-wishlist btn-expandable bg-danger"
																			data-value="<%= product[i]._id%>"
																			title="Remove from wishlist"><span>remove
																				from
																				wishlist</span>
																		</a>
																		<% } %>




												</div><!-- End .product-action-vertical -->

												<% if (!product[i].isInCart) { %>
													<% if (loginStatus) { %>
														<div class="product-action">
															<a href="#" data-value="<%= product[i]._id %>"
																class="add-to-cart btn-product btn-cart"><span>add to
																	cart</span></a>
														</div><!-- End .product-action -->
														<% } else {%>
															<div class="product-action">
																<a href="/user-login"
																	class=" btn-product btn-cart"><span>add
																		tocart</span></a>
															</div><!-- End .product-action -->
															<% } %>

																<% } else { %>
																	<div class="product-action">
																		<a href="/cart"
																			class="view-cart-products btn-product btn"><span>View
																				in cart</span></a>
																	</div><!-- End .product-action -->

																	<% } %>

											</figure><!-- End .product-media -->

											<div class="product-body">
												<h3 class="product-title"><a href="product.html">
														<%= product[i].product_name %>
													</a></h3><!-- End .product-title -->
												<div class="product-price">
													<%= product[i].product_price %>
												</div><!-- End .product-price -->

											</div><!-- End .product-body -->
										</div><!-- End .product -->
									</div><!-- End .col-sm-6 col-lg-4 -->
									<% } %>

										<% } %>

						</div><!-- End .row -->
					</div><!-- End .products -->

					<!-- pagination start -->
					<!-- <nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
									aria-disabled="true">
									<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="/viewProducts/?page=1">1</a></li>
							<li class="page-item"><a class="page-link" href="/viewProducts/?page=2">2</a></li>
							<li class="page-item"><a class="page-link" href="/viewProducts/?page=3">3</a></li>
							<li class="page-item-total">of 6</li>
							<li class="page-item">
								<a class="page-link page-link-next" href="#" aria-label="Next">
									Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
								</a>
							</li>
						</ul> -->
					<!-- pagination end -->

					</nav>
				</div><!-- End .col-lg-9 -->
				<aside class="col-lg-3 order-lg-first" style="background-color: #ffffff;">

					<form id="filter-form">
						<div class="sidebar sidebar-shop">
							<div class="widget widget-clean">
								<label>Filters:</label>
								<a id="clearButton" class="sidebar-filter-clear">Clean All</a>
							</div><!-- End .widget widget-clean -->

							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
										aria-controls="widget-1">
										Category
									</a>
								</h3><!-- End .widget-title -->

								<div class="collapse show" id="widget-1">
									<div class="widget-body">
										<div class="filter-items filter-items-count">


											<%= console.log(allCategories,"hi"); %>

												<% var i=1 %>
													<% allCategories.forEach(category=> { %>
														<% if (category.status) { %>

															<div class="filter-item">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" name="category<%= i %>"
																		id="category<%= i %>"
																		value="<%= category._id %>"
																		class="custom-control-input checkBox-input">
																	<label class="custom-control-label"
																		for="category<%= i %>">
																		<%= category.name %>
																	</label>
																</div><!-- End .custom-checkbox -->
																<% i++ %>
															</div><!-- End .filter-item -->

															<% } %>
																<% }) %>
										</div><!-- End .filter-items -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->


							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
										aria-controls="widget-5">
										Price Range
									</a>
								</h3><!-- End .widget-title -->

								<div class="collapse show" id="widget-5">
									<div class="widget-body">
										<div class="filter-price">



											<div id="rangeSlider"></div><br>

											<div>
												<span>From: </span>
												<span id="from-span">skjdfks</span>
												<input type="hidden" id="sliderValue1" name="min"
													style="max-width: 100px;"><br>
												<span>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
												<span id="to-span">sfdgs</span>
												<input type="hidden" id="sliderValue2" name="max"
													style="max-width: 100px;">
											</div>



										</div><!-- End .filter-price -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->
						</div><!-- End .sidebar sidebar-shop -->
						<!-- <button id="clearButton">Clear</button> -->
						<button type="submit" id="suButton">submit</button>
					</form>

				</aside><!-- End .col-lg-3 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->
</main><!-- End .main -->


<script>
	document.addEventListener('DOMContentLoaded', function () {
		var rangeSlider = document.getElementById('rangeSlider');
		var sliderValue1 = document.getElementById('sliderValue1');
		var sliderValue2 = document.getElementById('sliderValue2');

		var fromSpan = document.getElementById('from-span');
		var toSpan = document.getElementById('to-span');

		noUiSlider.create(rangeSlider, {
			start: [0, 200000], // Initial range values
			connect: true, // Enable the range between the handles
			range: {
				'min': 0,
				'max': 200000
			}
		});

		rangeSlider.noUiSlider.on('update', function (values) {
			sliderValue1.value = Math.floor(values[0]);
			sliderValue2.value = Math.floor(values[1]);
			fromSpan.innerHTML = Number(Math.floor(values[0])).toLocaleString('en-in', { style: 'currency', currency: 'INR', minimumFractionDigits: 0 })
			toSpan.innerHTML = Number(Math.floor(values[1])).toLocaleString('en-in', { style: 'currency', currency: 'INR', minimumFractionDigits: 0 })
		});
	});

</script>



<script>

	const checkboxes = document.querySelectorAll('.checkBox-input')
	console.log(checkboxes);



	const clearButton = document.getElementById('clearButton');

	const productsRow = document.getElementById('products-row')

	$('#filter-form').submit(function (e) {
		e.preventDefault()
		const min = document.getElementById('sliderValue1').value;
		const max = document.getElementById('sliderValue2').value;

		let selectedCategories = [];
		$('input:checked').each(function () {
			selectedCategories.push($(this).val())
		})
		console.log(selectedCategories, "selectedCategories");

		console.log(min);
		console.log(max);
		console.log(typeof selectedCategories, "selectedCategories");
		filterData(selectedCategories, min, max);
	})

	function filterData(selectedCategories, min, max) {

		let data = {
			selectedCategories: selectedCategories,
			min: min,
			max: max
		}
		data = JSON.stringify(data)
		let html = ``;

		$.ajax({
			url: '/viewProducts?filterData=' + data,
			type: 'get',

		})
			.done((res) => {
				console.log(res);
				let product = res.product;
				let loginStatus = res.loginStatus
				let cartCount = res.cartCount


				console.log(product, "res product");
				for (let i = 0; i < product.length; i++) {

					if (product[i].product_status) {
						html += `
								<div class="col-6 col-md-4 col-lg-4 mb-2">
									<div class="product product-7">
										<figure class="product-media">
											<a href="/quick-view/${product[i].slug}">
												<img src="/product-images/${product[i].image[0].filename}"
													alt="Product image" class="product-image">
												<img src="/product-images/${product[i].image[1].filename}"
													alt="Product image" class="product-image-hover">
											</a>
											<div class="product-action-vertical">
												<a href="#" data-value="${product[i]._id}"
													class="add-to-Wishlist btn-product-icon btn-wishlist btn-expandable">
													<span>add to wishlist</span>
												</a>
											</div><!-- End .product-action-vertical -->
							`;
						if (!product[i].isInCart) {
							if (loginStatus) {
								html += `

										<div class="product-action">
											<a href="#" data-value="${product[i]._id}"
												class="add-to-cart btn-product btn-cart">
												<span>add to cart</span>
											</a>
										</div><!-- End .product-action -->
									`;

							} else {
								html += `
										<div class="product-action">
											<a href="/user-login" class="btn-product btn-cart">
												<span>add to cart</span>
											</a>
										</div><!-- End .product-action -->
									`;
							}
						} else {
							html += `
										<div class="product-action">
											<a href="/cart" class="view-cart-products btn-product btn">
												<span>View in cart</span>
											</a>
										</div><!-- End .product-action -->
									`;
						}

						html += `
										</figure><!-- End .product-media -->

										<div class="product-body">
											<h3 class="product-title">
												<a href="product.html">${product[i].product_name}</a>
											</h3><!-- End .product-title -->
											<div class="product-price">${product[i].product_price}</div><!-- End .product-price -->
										</div><!-- End .product-body -->
									</div><!-- End .product -->
								</div><!-- End .col-sm-6 col-lg-4 -->
							`;

					}

				}

				productsRow.innerHTML = html

				console.log("endddddddddddddd");

			})
			.fail((error) => {
				console.log(error);
			})
	}


	checkboxes.forEach(function (checkbox) {
		checkbox.addEventListener('change', function () {
			console.log("check box change ", Array.from(checkboxes));

			const checkboxeStates = Array.from(checkboxes).map(function (cb) {
				return {
					id: cb.id,
					checked: cb.checked
				}
			})
			localStorage.setItem('checkboxeStates', JSON.stringify(checkboxeStates))
		})
	});

	clearButton.addEventListener('click', function (e) {
		e.preventDefault();
		console.log("clear");
		checkboxes.forEach(function (checkbox) {
			checkbox.checked = false
		})

		localStorage.removeItem('checkboxeStates')
	})

	// Restore the checkbox states when the page loads
	window.addEventListener('load', function () {
		const savedStates = localStorage.getItem('checkboxeStates');
		const checkboxeStates = JSON.parse(savedStates);

		if (Array.isArray(checkboxeStates)) {
			checkboxeStates.forEach(function (state) {
				const checkbox = document.getElementById(state.id);
				if (checkbox) {
					checkbox.checked = state.checked
				}
			})
		}

	})

</script>

<script src="/user/assets/js/userJs/products.js"></script>