<main class="main">

    <div class="mb-3"></div><!-- End .mb-6 -->

    <div class="container">
        <ul class="nav nav-pills nav-big nav-border-anim justify-content-center mb-2 mb-md-3" role="tablist">
            <li class="nav-item">

                <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                    role="tab" aria-controls="products-featured-tab" aria-selected="true">Products</a>

            </li>
        </ul>


        <div class="row">

            <% for( let i=0; i < product.length; i++ ) { %>

                 <% if (product[i].product_status) { %> <!-- product[i].product_status && product[i].category[0].name =='phone' -->
                   
                    <div class=" col-6 col-md-3 col-lg-3 d-flex product card product-2 text-center mr-4"
                        style="width: 10px; height: 500px;">
                        <figure class="product-media ">
                            <a href="product.html">
                                <img src="/product-images/<%= product[i].image %>" alt="Product image"
                                    class="product-image">
                                <img src="/user/assets/images/demos/demo-8/products/product-8-2.jpg" alt="Product image"
                                    class="product-image-hover">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                            </div><!-- End .product-action-vertical -->

                           
                            <div class="product-action">
                                <a href="/add-to-cart/<%= product[i]._id %>" onclick="adddToCartt('<%= product[i]._id %>')" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <div class="product-cat">
                                <a href="#">
                                    <%= product[i].product_name %>
                                </a>
                            </div><!-- End .product-cat -->
                            <h3 class="product-title"><a href="product.html">
                                    <%= product[i].product_description %>
                                </a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                <%= product[i].product_price %>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                <% } %>

             <% } %>
        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->


    </div><!-- End .container -->

    <div class="mb-5"></div><!-- End .mb-5 -->

    <div class="mb-7"></div><!-- End .mb-5 -->

</main><!-- End .main -->


<script>
    function addToCartt(productId){
        
        $.ajax({
            url:'/add-to-cart/'+productId,
            type:'get',
        })
        .done((res)=>{
            console.log(res);
            swal("successfull",`${res.message}`,"success")
            .then(()=>{
                location.reload()
            })
        })
        .fail((err)=>{
            console.log(err);
        })
    }
</script>