<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Categories</h2>
    </div>
    <div>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@getbootstrap">
        Add Category +
      </button>
    </div>
  </div>
  <hr />
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <% if (!categories.length) { %>
              <h1>No Coupons Are Added Yet</h1>
              <% } else { %>
                <table class="table table-hover" id="categoryTable">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for( let i=0; i < categories.length; i++ ) { %>

                      <tr>
                        <td>
                          <%= i+1 %>
                        </td>
                        <td><b>
                            <%= categories[i].name %>
                          </b></td>
                        <td>
                          <%= categories[i].description %>
                        </td>
                        <td width="20%">
                          <button type="button" onclick="getCategory('<%= categories[i]._id %>')"
                            class="btn btn-primary" style="height: 35px" data-bs-whatever="@getbootstrap">
                            Edit
                          </button>

                          <% if (categories[i].status) { %>
                            <button id="delete-category<%= categories[i]._id %>"
                              class="btn btn-sm btn-success rounded font-sm mt-15"
                              onclick="deleteACategory('<%= categories[i]._id %>') ">
                              Listed
                            </button>
                            <% } else { %>
                              <button id="delete-category<%= categories[i]._id %>"
                                class="btn btn-sm btn-danger rounded font-sm mt-15"
                                onclick="deleteACategory('<%= categories[i]._id %>') ">
                                Unlisted
                              </button>

                              <% } %>
                        </td>
                      </tr>
                      <% } %>
                  </tbody>
                </table>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Add Category-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="addProductCategoryForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Category Name</label>
            <input type="text" class="form-control" name="addCategoryName" id="addcategoryName" />
            <span class="text-danger d-none" id="categoryError">category already exist.....!</span>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Category Description</label>
            <textarea class="form-control" name="addCategoryDescription" id="addcategoryDescription"></textarea>
          </div>
          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn ms-auto d-block btn-primary">
              Create category
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--End Modal Add Category-->

<!-- Modal Edit Category-->

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Edit Category
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editProductCategoryForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Category Name</label>
            <input type="text" class="form-control" id="editCategoryName" name="categoryName" />
            <span class="text-danger d-none" id="editCategoryError">category already exist.....!</span>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Category Description</label>
            <textarea class="form-control" id="editCategoryDescription" name="categoryDescription"></textarea>
          </div>

          <div class="mb-3" style="display: none">
            <label for="" class="col-form-label"> id </label>
            <input type="text" class="form-control" id="editCategoryId" name="categoryId" />
          </div>

          <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn ms-auto d-block btn-primary">
              Update category
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--End Modal Edit Category-->

<script src="/admin/assets/js/adminJs/category.js"></script>
<script src="/admin/assets/js/adminJs/lists.js"></script>
