<section class="content-main">
    <div class="content-header">
        <a href="javascript:history.back()"
            ><i class="material-icons md-arrow_back"></i> Go back
        </a>
    </div>
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Sales Report</h2>
        </div>
        <div>
            <a
                id="xlsheet"
                onclick="ExportToExcel()"
                class="btn btn-light rounded font-md"
                >Download XLSheet</a
            >
            <a
                href="#"
                id="pdf"
                data-value=""
                class="btn btn-light rounded font-md"
                >Download PDF</a
            >
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <form id="date-wise-report">
                <div class="row gx-3">
                    <div class="col-lg-2 col-6 col-md-3">
                        <label class="form-label">Start Date</label>
                        <input
                            type="date"
                            name="startDate"
                            value=""
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <label class="form-label">End Date</label>
                        <input
                            type="date"
                            name="endDate"
                            value=""
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="col-lg-4 col-md-6 me-auto">
                        <button
                            type="submit"
                            class="btn btn-primary mt-4 btn-sm rounded"
                        >
                            Get Report
                        </button>
                    </div>
                </div>
            </form>
        </header>
        <div id="sales-report" class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="sales-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody id="defaultReport">
                        <% for( let i=0; i < sales.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><b> <%= sales[i]._id %> </b></td>
                            <td><%= sales[i].userDetails[0].name %></td>
                            <td><%= sales[i].orderDate %></td>
                            <td><%= sales[i].paymentMethod %></td>
                            <td>
                                <span class="badge rounded-pill alert-warning">
                                    <%= sales[i].orderStatus %>
                                </span>
                            </td>
                            <td><%= sales[i].totalAmount %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>

<script
    type="text/javascript"
    src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"
></script>

<script src="/admin/assets/js/adminJs/sales-report.js"></script>
