<style>
    .banner-over-text {
        color: rgb(0, 0, 0);
    }
</style>

<style>
       .product-image {
        width: 100%;
        max-height: 250px; /* Adjust this height as needed */
        object-fit: contain; /* Ensures the image covers the entire space */
    }

    .product-image-container {
        position: relative;
        width: 100%;
        height: 250px; /* Adjust this height as needed */
        overflow: hidden;
        object-fit: contain; /
    }

    .product-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* transition: opacity 0.3s ease-in-out; */
    }

    .product-image-hover {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-fit: contain; 
        /* transition: opacity 0.3s ease-in-out; */
    }

    .product:hover .product-image {
        opacity: 0; /* Hide the main image on hover */
    }

    .product:hover .product-image-hover {
        display: block; /* Show the hover image on hover */
        opacity: 1;
    }

</style>


<main class="main">
    <div class="intro-slider-container">
        <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl"
            data-owl-options='{
                        "dots": true,
                        "nav": false, 
                        "autoplay": true,
                        "autoplaySpeed": 750,
                        "autoplayTimeout": 4800,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
            <div class="intro-slide"
                style="background-image: url(/user/assets/images/demos/demo-8/slider/slide-1.png);">
                <div class="container intro-content text-left">
                    <h3 class="intro-subtitle">Limited time only *</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title">Summer<br><strong>sale</strong></h1><!-- End .intro-title -->
                    <h3 class="intro-subtitle">Up to 50% off</h3><!-- End .h3 intro-subtitle -->

                    <a href="/viewProducts" class="btn">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
            </div><!-- End .intro-slide -->


            <div class="intro-slide"
                style="background-image: url(/user/assets/images/demos/demo-8/slider/slide-2.png);">
                <div class="container intro-content text-right">
                    <h3 class="intro-subtitle">PREMIUM QUALITY</h3><!-- End .h3 intro-subtitle -->
                    <h1 class="intro-title">Mobile's <span class="highlight">&</span><br>Laptops</h1>
                    <!-- End .intro-title -->

                    <a href="/viewProducts" class="btn">
                        <span>SHOP NOW</span>
                        <i class="icon-long-arrow-right"></i>
                    </a>
                </div><!-- End .intro-content -->
                <!-- <img class="position-left" src="/user/assets/images/demos/demo-8/slider/slide-2.png"> -->
            </div><!-- End .intro-slide -->
        </div><!-- End .intro-slider owl-carousel owl-simple -->

        <span class="slider-loader"></span><!-- End .slider-loader -->
    </div><!-- End .intro-slider-container -->

    <div class="mb-3"></div><!-- End .mb-6 -->

    <div class="container">
        <ul class="nav nav-pills nav-big nav-border-anim justify-content-center mb-2 mb-md-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                    role="tab" aria-controls="products-featured-tab" aria-selected="true">Featured</a>
            </li>
        </ul>

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                aria-labelledby="products-featured-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>
                    <% for( let i=0; i < featuredProducts.length; i++ ) { %>

                        <div class="product product-2" style="border: 1px solid #e4d7d7; box-shadow: 1px 1px 2px 0px;">
                            <figure class="product-media">
                                <a href="/quick-view/<%= featuredProducts[i].slug %>">
                                    <img src="/product-images/<%= featuredProducts[i].image[0].filename %>"
                                        alt="Product image" class="product-image">
                                    <img src="/product-images/<%= featuredProducts[i].image[1].filename %>"
                                        alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <!--  -->
                                    <% if (!featuredProducts[i].isInWishList) { %>
                                        <% if (loginStatus) { %>

                                            <a href="#"
                                                class="btn-product-icon btn-wishlist btn-expandable add-to-Wishlist add-produtToWishlist"
                                                data-value="<%= featuredProducts[i]._id%>"
                                                title="Add to wishlist"><span>add
                                                    to wishlist</span>
                                            </a>
                                            <% } else {%>
                                                <a href="/user-login"
                                                    class="btn-product-icon btn-wishlist btn-expandable"
                                                    title="Add to wishlist"><span>add to
                                                        wishlist</span>
                                                    <% } %>
                                                </a>
                                                <% } else {%>
                                                    <a href="/wishlist"
                                                        class="btn-product-icon btn-wishlist btn-expandable bg-danger"
                                                        data-value="<%= featuredProducts[i]._id%>"
                                                        title="Remove from wishlist"><span>remove from wishlist</span>
                                                    </a>
                                                    <% } %>
                                </div><!-- End .product-action -->

                                <% if (!featuredProducts[i].isInCart) { %>
                                    <% if (loginStatus) { %>
                                        <div class="product-action">
                                            <a href="#" data-value="<%= featuredProducts[i]._id %>"
                                                class="add-product btn-product btn-cart"><span>add to
                                                    cart</span></a>
                                        </div><!-- End .product-action -->
                                        <% } else {%>
                                            <div class="product-action">
                                                <a href="/user-login" class=" btn-product btn-cart"><span>add
                                                        tocart</span></a>
                                            </div><!-- End .product-action -->
                                            <% } %>

                                                <% } else { %>
                                                    <div class="product-action">
                                                        <a href="/cart"
                                                            class="view-cart-products btn-product btn"><span>View
                                                                in cart</span></a>
                                                    </div><!-- End .product-action -->

                                                    <% } %>
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">
                                        <%= featuredProducts[i]?.category[0]?.name%>
                                    </a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="product.html">
                                        <%= featuredProducts[i].product_name %>
                                    </a></h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    <%= featuredProducts[i].product_price %>
                                </div><!-- End .product-price -->


                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        <% } %>



                </div><!-- End .owl-carousel -->
            </div><!-- .End .tab-pane -->


        </div><!-- End .tab-content -->
    </div><!-- End .container -->

    <div class="mb-3 mb-xl-2"></div><!-- End .mb-3 -->

    <div class="trending">
        <a href="#">
            <img src="/user/assets/images/demos/demo-8/banners/third-long-banner.png" alt="Banner">
        </a>
        <div class="banner banner-big d-md-block">
            <div class="banner-content text-center banner-over-text">
                <h4 class="banner-subtitle ">Trending</h4><!-- End .banner-subtitle -->
                <h3 class="banner-title ">New League</h3><!-- End .banner-title -->
                <p class="d-none d-lg-block" style="color: rgb(17, 3, 3);">
                    "Discover cutting-edge features and powerful performance with the latest smartphones.
                    Experience stunning displays, capture breathtaking photos with advanced camera systems .
                    Explore the future of technology in the palm of your hand." </p>

                <a href="" class="btn btn-primary-white "><span>Shop Now</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .banner-content -->
        </div><!-- End .banner -->
    </div>

    <div class="mb-5"></div><!-- End .mb-5 -->

    <div class="container">
        <ul class="nav nav-pills nav-big nav-border-anim justify-content-center mb-2 mb-md-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab"
                    role="tab" aria-controls="products-featured-tab" aria-selected="true">New Arrivals</a>
            </li>
        </ul>

        <div class="tab-content tab-content-carousel">
            <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                aria-labelledby="products-featured-link">
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":4,
                                        "nav": true,
                                        "dots": false
                                    }
                                }
                            }'>


                    <% for( let i=0; i < latestProducts.length; i++ ) { %>

                        <div class="product product-2" style="border: 1px solid #e4d7d7; box-shadow: 1px 1px 2px 0px;">
                            <figure class="product-media">
                                <a href="/quick-view/<%= latestProducts[i].slug %>">
                                    <img src="/product-images/<%= latestProducts[i].image[0].filename %>"
                                        alt="Product image" class="product-image">
                                    <img src="/product-images/<%= latestProducts[i].image[1].filename %>"
                                        alt="Product image" class="product-image-hover">
                                </a>

                                <div class="product-action-vertical">
                                    <% if (!latestProducts[i].isInWishList) { %>
                                        <% if (loginStatus) { %>

                                            <a href="#"
                                                class="btn-product-icon btn-wishlist btn-expandable add-to-Wishlist add-produtToWishlist"
                                                data-value="<%= latestProducts[i]._id%>"
                                                title="Add to wishlist"><span>add
                                                    to wishlist</span>
                                            </a>
                                            <% } else {%>
                                                <a href="/user-login"
                                                    class="btn-product-icon btn-wishlist btn-expandable "
                                                    title="Add to wishlist"><span>add
                                                        to wishlist</span>
                                                </a>
                                                <% } %>
                                                    </a>
                                                    <% } else {%>
                                                        <a href="/wishlist"
                                                            class="btn-product-icon btn-wishlist btn-expandable bg-danger"
                                                            data-value="<%= latestProducts[i]._id%>"
                                                            title="Remove from wishlist"><span>remove from
                                                                wishlist</span>
                                                        </a>
                                                        <% } %>

                                </div><!-- End .product-action -->

                                <% if (!latestProducts[i].isInCart) { %>
                                    <% if (loginStatus) { %>
                                        <div class=" product-action">
                                    <a href="#" data-value="<%= latestProducts[i]._id %>"
                                        class="add-product btn-product btn-cart"><span>add to
                                            cart</span></a>
                        </div><!-- End .product-action -->
                        <% } else {%>
                            <div class="product-action">
                                <a href="/user-login" class=" btn-product btn-cart"><span>add
                                        tocart</span></a>
                            </div><!-- End .product-action -->
                            <% } %>

                                <% } else { %>
                                    <div class="product-action">
                                        <a href="/cart" class="view-cart-products btn-product btn"><span>View
                                                in cart</span></a>
                                    </div><!-- End .product-action -->

                                    <% } %>

                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">
                                                    <%= latestProducts[i]?.product_category?.name %>
                                                </a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html">
                                                    <%= latestProducts[i]?.product_name %>
                                                </a></h3>
                                            <!-- End .product-title -->
                                            <div class="product-price">
                                                <%= latestProducts[i]?.product_price %>
                                            </div><!-- End .product-price -->


                                        </div><!-- End .product-body -->
                </div><!-- End .product -->
                <% } %>



            </div><!-- End .owl-carousel -->
        </div><!-- .End .tab-pane -->


    </div><!-- End .tab-content -->
    </div><!-- End .container -->
    </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->

    <div class="more-container text-center mt-3 mb-3">
        <a href="/viewProducts" class="btn btn-outline-dark-3 btn-more"><span>View More</span><i
                class="icon-long-arrow-right"></i></a>
    </div><!-- End .more-container -->
    </div><!-- End .container -->

    <div class="mb-7"></div><!-- End .mb-5 -->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-rocket"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                        <p>Free shipping for orders over 500</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->

            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-rotate-left"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                        <p>you can return product within 7 days from the delivery of the product.</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->

            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center">
                    <span class="icon-box-icon">
                        <i class="icon-life-ring"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                        <p>Alway online feedback 24/7</p>
                    </div><!-- End .icon-box-content -->
                </div><!-- End .icon-box -->
            </div><!-- End .col-lg-4 col-sm-6 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</main><!-- End .main -->

<script>
    // To add product to cart
    $(document).ready(function () {
        $('.add-product').click(function (e) {
            e.preventDefault()
            const prodId = $(this).data('value')
            $.ajax({
                url: '/add-to-cart/' + prodId,
                type: 'post'
            })
                .done((res) => {
              
                    swal("successfull", `${res.message}`, "success")
                        .then(() => {
                            location.reload()
                        })
                })
                .fail((err) => {
                    console.error(err);
                })
        })
    })


    // To add product to wish list
    $(document).ready(function () {
        $('.add-produtToWishlist').click(function (e) {
            e.preventDefault();
            const productId = $(this).data('value');
            
            $.ajax({
                url: '/add-to-wishList',
                type: 'post',
                data: { productId: productId }
            })
                .done((res) => {
                    
                    swal("successfull", `${res.message}`, "success")
                        .then(() => {
                            location.reload()
                        })
                })
                .fail((err) => {
                    console.error(err);
                })
        })
    })

    $(document).ready(function () {
        $('.remove-produtFromWishlist').click(function (e) {
            e.preventDefault();
            const productId = $(this).data('value');
            $.ajax({
                url: '/add-to-wishList',
                type: 'post',
                data: { productId: productId }
            })
                .done((res) => {
                    swal("successfull", `${res.message}`, "success")
                        .then(() => {
                            location.reload()
                        })
                })
                .fail((err) => {
                    console.error(err);
                })
        })
    })
</script>