<link rel="stylesheet" href="/user/assets/css/userCss/orders-list.css">

</head>
<body">
<div class="container">
        <div class="content-header">
            <a href="javascript:history.back()"
                ><i class="material-icons md-arrow_back"></i> Go back
            </a>
        </div>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4 ">
						<h2 style="color: #ddd;">Your Order <b style="color: #ddd;">Details</b></h2>
					</div>
					
                </div>
            </div>
			

            <table class="table table-striped table-hover" id="orderDetailsTable">
                <thead>
                    <tr style="background-color:#1e90c0; ">
                        <th>#</th>
                        <th>Date</th>
						<th>Address</th>
						<th>Total</th>						
                        <th>Status</th>	
						<th>Payment Method</th>
						<th>View Details</th>
						<!-- <th>Cancel</th> -->
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < userOrderDetails.length; i++ ) { %>
                        <tr>
                            <td width="5%"><%= i+1 %></td>
                            <td width="10%"><%= userOrderDetails[i].orderDate %></td>
                            <td width="10%"><%= userOrderDetails[i].addressLookedup[0]?.address %></td>                        
                            <td width="10%"><%= userOrderDetails[i].totalAmount %></td>

							<td width="10%" >
								<% if (userOrderDetails[i].orderStatus == 'pending') { %>
									<span class="badge rounded-pill alert-warning"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'processing') {%>
									<span class="badge rounded-pill alert-secondary"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'confirmed') {%>
									<span class="badge rounded-pill alert-dark"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'shipped') {%>
									<span class="badge rounded-pill alert-info"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'outForDelivery') {%>
									<span class="badge rounded-pill alert-warning"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'delivered') {%>
									<span class="badge rounded-pill alert-success"><%= userOrderDetails[i].orderStatus %></span>
								<% } else if (userOrderDetails[i].orderStatus == 'cancelPending') {%>
									<span class="badge rounded-pill alert-warning"><%= userOrderDetails[i].orderStatus %></span>
								<% } else {%>
									<span class="badge rounded-pill alert-danger"><%= userOrderDetails[i].orderStatus %></span>
								<% } %>
							</td>


                            <td width="10%"><%= userOrderDetails[i].paymentMethod %></td>                        
                            <td width="12%" style="align-items: center;"><a href="/order-details/<%= userOrderDetails[i]._id %>"  class="btn btn-primary">View Details</a></td>
                        </tr>
                    <% } %>
					
                </tbody>
            </table>
			
        </div>
    </div>     
 