<link rel="stylesheet" href="/user/assets/css/userCss/order-details.css">

<section class="content-main">
    <div class="content-header">
        <a href="javascript:history.back()"
            ><i class="material-icons md-arrow_back"></i> Go back
        </a>
    </div>
    <div class="content-header">
        <div>
            <h1 class="content-title card-title">Order details</h1>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0  pt-3">
                    <span class="ml-4">
                        <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                    </span> <br>
                    <small class="text-muted ml-4">Order ID: <%= orderDetails._id %></small>
                </div>
                <% if (orderDetails.orderStatus =="delivered") { %>
                    <div class="col-lg-6 col-md-6 mb-lg-0  pt-3">
                        <button class="float-right mr-5" id="invoice">Download Invoice</button>
                    </div>
                    <% } %> 
                    
                </div>
                
            </header> <!-- card-header end// -->
            <hr>
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4 orderDetailspage-card-left">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    
                                    <%= orderDetails.address?.first_name %>
                                    <%= orderDetails.address?.last_name %> <template class="__cf_email__"
                                    data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +91 <%= orderDetails.address?.mobile %>
                            </p>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4 orderDetailspage-card-middle">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%= orderDetails.paymentMethod %> <br> Status:
                                new
                            </p>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4 orderDetailspage-card-right">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City : <%= orderDetails.address?.city %>
                            </p>
                            <p class="mb-1">
                                Address : <%= orderDetails.address?.address %>
                            </p>
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i=0; i < productDetails.length; i++ ) { %>
                                    <tr>
                                        <td>
                                            <a class="itemside" href="#">
                                                <div class="left">
                                                    <img src="/product-images/<%= productDetails[i].orderedProduct.image[0].filename %>"
                                                    width="40" height="40" class="img-xs" alt="Item">
                                                </div>
                                                <div class="info">
                                                    <%= productDetails[i].orderedProduct.product_name %>
                                                </div>
                                            </a>
                                        </td>
                                        <td>
                                            <%= formatCurrency(productDetails[i]?.orderedPrice[i]) %>
                                        </td>
                                        <td>
                                            <%= productDetails[i].orderedItems.quantity %>
                                        </td>
                                        <td class="text-end">
                                            <%= formatCurrency((productDetails[i]?.orderedProduct?.product_price)*(productDetails[i].orderedItems.quantity))
                                        %>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <dl class="dlist">
                                                        <dt>Subtotal: </dt>
                                                        <dd></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>coupon discount:</dt>
                                                        <dd style="color: #00B517;">-<%= orderDetails.coupon %></dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">
                                                            <%= formatCurrency(orderDetails.totalAmount) %>
                                                        </b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">Status:</dt>
                                                        <dd>
                                                                <% if (orderDetails.orderStatus == 'pending') { %>
                                                                    <span  class="badge rounded-pill alert-warning"><%= orderDetails.orderStatus %></span>
                                                                    <% } else if (orderDetails.orderStatus == 'processing') {%>
                                                                    <span  class="badge rounded-pill alert-secondary"><%= orderDetails.orderStatus %></span>
                                                                    <% } else if (orderDetails.orderStatus == 'confirmed') {%>
                                                                        <span  class="badge rounded-pill alert-dark"><%= orderDetails.orderStatus %></span>
                                                                        <% } else if (orderDetails.orderStatus == 'shipped') {%>
                                                                            <span  class="badge rounded-pill alert-info"><%= orderDetails.orderStatus %></span>
                                                                            <% } else if (orderDetails.orderStatus == 'outForDelivery') {%>
                                                                                <span  class="badge rounded-pill alert-warning"><%= orderDetails.orderStatus %></span>
                                                                                <% } else if (orderDetails.orderStatus == 'delivered') {%>
                                                                                    <span  class="badge rounded-pill alert-success"><%= orderDetails.orderStatus %></span>
                                                                                    <% } else if (orderDetails.orderStatus == 'cancelPending') {%>
                                                                                        <span  class="badge rounded-pill alert-warning"><%= orderDetails.orderStatus %></span>
                                                                                        <% } else {%>
                                                                    <span  class="badge rounded-pill alert-danger"><%= orderDetails.orderStatus %></span>
                                                                    <% } %>
                                                        </dd>
                                                    </dl>
                                                    <% if (orderDetails.orderStatus !== 'delivered' && orderDetails.orderStatus !== 'cancelled' && orderDetails.orderStatus !== 'return pending' && orderDetails.orderStatus !== 'returned') { %>
                                                        <button class="float-left ml-5" style="background-color: rgb(205, 120, 120);" onclick="cancelOrder('<%= orderDetails.user %>','<%= orderDetails._id %>')">Cancel order</button>
                                                      <% } %>
                                                        
                                                      
                                                      
                                                      
                                                      <% if (orderDetails.orderStatus == 'delivered') { %>
                                                        <button class="float-left ml-5 " style="background-color: rgb(60, 109, 182);" onclick="returnOrder('<%= orderDetails.user %>','<%= orderDetails._id %>')">Return order</button>
                                                        <% } %>
                                                        
                                                    </article>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>

                        <input type="hidden" id="orderDetails" value="<%= JSON.stringify(orderDetails) %>">
                        <input type="hidden" name="" id="productDetails" value="<%= JSON.stringify(productDetails) %>">
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->


<script src="/user/assets/js/userJs/order.js"></script>
<script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>