<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css">
<link rel="stylesheet" href="/user/assets/css/userCss/view-products.css">


<main class="main">
	<div class="page-content mt-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					

					<div class="products mb-3">
						<div class="row" id="products-row">
							
							<% for( let i=0; i < product.length; i++ ) { %>
								
								<% if (product[i].product_status ) { %>
									<!-- product[i].product_status && product[i].category[0].name =='phone' -->
									
									<div class="col-6 col-md-4 col-lg-4 mb-2 ">
										<div class="product product-7 ">
											<figure class="product-media">
												<a href="/quick-view/<%= product[i].slug %>">
													<img src="/product-images/<%= product[i].image[0].filename %>"
													alt="Product image" class="product-image">
													<img src="/product-images/<%= product[i].image[1].filename %>"
													alt="Product image" class="product-image-hover">
												</a>



												<div class="product-action-vertical">
													<% if (!product[i].isInWishList) { %>
														<% if (loginStatus) { %>
															<a href="#"
															class="btn-product-icon btn-wishlist btn-expandable add-to-Wishlist"
															data-value="<%= product[i]._id%>"
															title="Add to wishlist"><span>add to wishlist</span>
															<% } else {%>
																<a href="/user-login"
																class="btn-product-icon btn-wishlist btn-expandable"
																title="Add to wishlist"><span>add to
																	wishlist</span>
																	<% } %>
																</a>
																	<% } else {%>
																		<a href="/wishlist"
																			class="btn-product-icon btn-wishlist btn-expandable bg-danger"
																			data-value="<%= product[i]._id%>"
																			title="Remove from wishlist"><span>remove
																				from
																				wishlist</span>
																			</a>
																			<% } %>
																			
																			
																			
																			
												</div><!-- End .product-action-vertical -->

												<% if (!product[i].isInCart) { %>
													<% if (loginStatus) { %>
														<div class="product-action">
															<a href="#" data-value="<%= product[i]._id %>"
																class="add-to-cart btn-product btn-cart"><span>add to
																	cart</span></a>
																</div><!-- End .product-action -->
																<% } else {%>
																	<div class="product-action">
																		<a href="/user-login"
																		class=" btn-product btn-cart"><span>add
																			tocart</span></a>
																		</div><!-- End .product-action -->
																		<% } %>
																		
																		<% } else { %>
																			<div class="product-action">
																				<a href="/cart"
																				class="view-cart-products btn-product btn"><span>View
																				in cart</span></a>
																	</div><!-- End .product-action -->

																	<% } %>
																	
																</figure><!-- End .product-media -->

																<div class="product-body">
												<h3 class="product-title"><a href="product.html">
													<%= product[i].product_name %>
												</a></h3><!-- End .product-title -->
												<div class="product-price">
													<%= product[i].product_price %>
												</div><!-- End .product-price -->

											</div><!-- End .product-body -->
										</div><!-- End .product -->
									</div><!-- End .col-sm-6 col-lg-4 -->
									<% } %>
									
									<% } %>
									
								</div><!-- End .row -->
							</div><!-- End .products -->


					</nav>
				</div><!-- End .col-lg-9 -->
				<aside class="col-lg-3 order-lg-first" style="background-color: #ffffff;">
					
					<form id="filter-form">
						<div class="sidebar sidebar-shop">
							<div class="widget widget-clean">
								<label>Filters:</label>
								<a id="clearButton" class="sidebar-filter-clear">Clean All</a>
							</div><!-- End .widget widget-clean -->
							
							<div class="widget widget-collapsible">
								<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
									aria-controls="widget-1">
									Category
								</a>
							</h3><!-- End .widget-title -->
							
							<div class="collapse show" id="widget-1">
								<div class="widget-body">
									<div class="filter-items filter-items-count">
										
												<% var i=1 %>
													<% allCategories.forEach(category=> { %>
														<% if (category.status) { %>
															
															<div class="filter-item">
																<div class="custom-control custom-checkbox">
																	<input type="checkbox" name="category<%= i %>"
																	id="category<%= i %>"
																	value="<%= category._id %>"
																	class="custom-control-input checkBox-input">
																	<label class="custom-control-label"
																	for="category<%= i %>">
																	<%= category.name %>
																</label>
															</div><!-- End .custom-checkbox -->
															<% i++ %>
															</div><!-- End .filter-item -->

															<% } %>
																<% }) %>
															</div><!-- End .filter-items -->
														</div><!-- End .widget-body -->
													</div><!-- End .collapse -->
												</div><!-- End .widget -->
												
												
												<div class="widget widget-collapsible">
													<h3 class="widget-title">
									<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
										aria-controls="widget-5">
										Price Range
									</a>
								</h3><!-- End .widget-title -->
								
								<div class="collapse show" id="widget-5">
									<div class="widget-body">
										<div class="filter-price">
											<div id="rangeSlider"></div><br>
											
											<div>
												<span>From: </span>
												<span id="from-span">skjdfks</span>
												<input type="hidden" id="sliderValue1" name="min"
												style="max-width: 100px;"><br>
												<span>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
												<span id="to-span">sfdgs</span>
												<input type="hidden" id="sliderValue2" name="max"
													style="max-width: 100px;">
											</div>
											
										</div><!-- End .filter-price -->
									</div><!-- End .widget-body -->
								</div><!-- End .collapse -->
							</div><!-- End .widget -->
						</div><!-- End .sidebar sidebar-shop -->
						<!-- <button id="clearButton">Clear</button> -->
						<button type="submit" id="suButton">submit</button>
					</form>
					
				</aside><!-- End .col-lg-3 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->
</main><!-- End .main -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
<script src="/user/assets/js/userJs/products.js"></script>
<script src="/user/assets/js/userJs/cart.js"></script>
<script src="/user/assets/js/userJs/wishlist.js"></script>