<div class="page-header text-center" style="background-image: url('/user/assets/images/header/page-header-bg.jpg')">
	<div class="container">
		<h1 class="page-title">Your Wishlist</h1>
	</div><!-- End .container -->
</div><!-- End .page-header -->

<section style="background-color: #eee;">
	<div class="container py-5 ">

		<div class="row justify-content-center mb-3 ">
			<div class="col-md-12 col-xl-10">
				<% if (!wishList.length) { %>
					<div class="container-fluid mt-3" id="cartEmpty-div">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body cart">
										<div
											class="col-sm-12 empty-cart-cls text-center"
										>
											<img
												src="/user/assets/images/wishlist/No-Wishlist.png"
												width="30%"
												height="30%"
												class="img-fluid mx-auto mr-3"
											/>
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% } else { %>
	
					<% for( let i=0; i < wishList.length; i++ ) { %>
						<div class="card shadow-0 border " id="wishlist-card-<%= wishList[i].product._id %>"
							style="border-radius: 10px;">
							<div class="card-body">
								<div class="row mt-3">
									<div class="col-md-12 col-lg-3 col-xl-3 mb-1  mb-lg-0">
											<img style="width: 120px; height: 130px;"
												src="/product-images/<%= wishList[i].product.image[0].filename %>"
												alt="image is not available">
									</div>
									<div class="col-md-6 col-lg-6 col-xl-6">
										<h5>
											<%= wishList[i].product.product_name %>
										</h5>
										<p class="text-truncate mb-4 mb-md-0">
										<h6>
											<%= wishList[i].product.product_price %>
										</h6>
										</p>
									</div>
									<div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
										<div class="d-flex flex-column mt-4">


											<% if (!wishList[i].product.isInCart) { %>
												<button class="btn btn-primary btn-sm add-to-cart" type="button"
													data-value="<%= wishList[i].product._id %>">Add to Cart</button>
												<% } else {%>

													<a href="/cart" class=" btn-product"><span><button
																class="btn btn-primary btn-sm" type="button">View in
																Cart</button></span></a>
													<!-- </div> -->
													<% } %>

														<button
															onclick="removeFromWishList('<%= wishList[i].product._id %>')"
															class="btn btn-outline-primary btn-sm mt-2" type="button">
															Remove From Wishlist
														</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
						<% } %>
			</div>
		</div>
	</div>
</section>

<script src="/user/assets/js/userJs/cart.js"></script>
<script src="/user/assets/js/userJs/wishlist.js"></script>